
<html>
  <head>
    <link rel="stylesheet" href="assets/index.css">
    <link rel="stylesheet" href="assets/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>

  </head>

      <div class ="head1">
        <div class= "topWrap">
        <div class= "nQuery"><span id="N">N</span><span id="Q">Q</span>uery</div>
        <%= form_tag(login_path) do %>
              <div class="fancyLogin3">
                <div class="notFancyLogin">
          <div class="uglyBlock">  <div id="ee">Email</div><%= email_field_tag :email, nil, class:"logM ugly" %> </div>
          <div class="uglyBlock">  <div id="pp">Password</div><%= password_field_tag :password, nil, class:"logM ugly" %> </div>
               <div class="notFancyButton" > <%= submit_tag "Log in", class:"nfb"  %></div>
               </div>
             </div>
             <% end %>
            <!-- <div class= "fancyLogin1">
              <div class= "user">login</div>
              </div>
              <div class="land">
              </div> -->
        </div>

      </div>

      <body>

            <div class= "vision">
              We don't have all the answers, we'll help you get them.
            </div>

            <div id="visLine"></div>
            <div class= "Nquerious" id="visLine"><span id="iQ">Q</span>uerious?
            </div>
            <div class= "diVision disVision"><br><br> <span class="edit1">Start a conversation.</span>
                <br>
                <br>
                <span class="edit2">
                <p style="text-indent: 5em;">NQuery allows users to quickly create beautiful mobile ready surveys, with a catch: you have 12 questions. Our concept bridges a trust between you and your supporters by providing a concise user friendly experience for both sides. Show your consumers that their input is just as valuable as their time, and that you respect both.
                </p>
                </span>
                <br>
                <br>
                <span class="edit3">Edit and deploy surveys with ease.
                </span>
                <br>
                <br>
                <span class="edit4">
                 <ol class="we-do-this">
                   <li> Graphed input data.</li>
                   <li> Short answer, long answer yes/no templates.</li>
                   <li> Breeze through personal archives with a scroll.</li>
                   <li> Twitter, FaceBook, and mail ready links.</li>
                 <ol>
                </span>
          </div>
          </div>


        <div class= "Nter">
      <div class= "" id="Nterested"><span id="iN">N</span>terested?
      </div>
      </div>

      <!-- MODAL -->
      <div class="signModal">
        <%= form_for(@author) do |f| %>
          <% if @author.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>
              <ul>
              <% @author.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class= "mInputField">
          <a href="#" class="exit"><i class="fa fa-times"></i></a>
          <div class="mInput mUser"><%= f.label :name %><%= f.text_field :name, class: "joinM" %></div>
          <!-- <input type="text" name="name" class="joinM"> -->
          <div class="mInput mPassword"><%= f.label :password %><%= f.password_field :password, class: "joinM" %></div>
          <!-- <input type="text" name="name" class="joinM"> -->
          <div class="mInput mEmail"><%= f.label :email %><%= f.text_field :email, class: "joinM" %></div>
          <!-- <input type="text" name="name" class="joinM"> -->
          <%= f.submit "sign up", class: "signUp" %>
          </div>
        </div>
        <% end %>
      </div>


          <!-- modal for edit page -->
        <!-- <div class="savedModal">
          <div class="saved" >Saved</div>
          <div class="keepWorking" >keep working</div>
          <div class="done" >done</div>
        </div> -->
        <div class="footsy">
          <div class="footRefs" id="contact">Keep In Touch</div>
          <div class="homies homieShow">
            <a href="https://github.com/alexanderallis" class="nameSpace"> Alex</a>
            <a href="https://github.com/xgsarnold" class="nameSpace"> Jeff</a>
            <a href="https://github.com/dpip" class="nameSpace"> Pip</a>
            <a href="https://github.com/dankb82" class="nameSpace"> Daniel</a>
            <a href="https://github.com/kscotteng" class="nameSpace"> Kevin</a>
          </div>
          <div class="iconWrap">
          <div class="footRefs icon" id="twitter"><i class="fa fa-twitter"></i></div>
          <div class="footRefs icon"><i class="fa fa-facebook"></i></div>
          <div class="footRefs icon"><i class="fa fa-instagram"></i></div>
          <div class="footRefs icon"><i class="fa fa-envelope-o"></i></div>
          </div>
        </div>

      </body>

</html>
