<%= form_for(@taker) do |f| %>
  <% if @taker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taker.errors.count, "error") %> prohibited this taker from being saved:</h2>

      <ul>
      <% @taker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :survey_id %><br>
    <%= f.number_field :survey_id %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
