<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @answer.question_id %>
</p>

<p>
  <strong>Taker:</strong>
  <%= @answer.taker_id %>
</p>

<p>
  <strong>Response:</strong>
  <%= @answer.response %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
<%= link_to 'Logout', logout_path, method: :delete %>
