<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :author_id %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <h3>Questions</h3>

  <%= f.fields_for :questions do |ff| %>
    <div>
      <%= ff.number_field :question_order, placeholder: "Question Order" %>
      Question Type <%= ff.select :question_type, ['Yes/No', 'Short Answer', 'Long Answer'] %>
      <%= ff.text_area :description, placeholder: "Question Description" %>
      <%= ff.text_area :question_text, placeholder: "Enter your question" %>
      Required Question <%= ff.check_box :required %>
    </div>
    <% end %>
  <div class="actions">
    <%= f.submit "Save Question" %>
  </div>
<% end %>

<%= link_to 'Logout', logout_path, method: :delete %>
<%= link_to 'Back', surveys_path %>
