<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="main-section-head">

    <div class="main-section-head-right">
      <button class="save publish" id="save">
        Save
        <i class="fa fa-floppy-o fa-lg"></i>
      </button>
    </div>

    <div class="main-section-head-left">
      <h1 class="title-display"></h1>
      <div class="field title-field">
        <!-- <%= f.label :title, class: 'title-label'%><br> -->
        <%= f.text_field :title, class: 'title-input'%>
      </div>
      <div class="title-edit">
        <div class="edit-text">edit</div>
        <i class="fa fa-pencil-square-o fa-lg"></i>
      </div>

      <div class="description-display"></div>
      <div class="field description-field">
        <%= f.label :description, class: 'description-label' %><br>
        <%= f.text_area :description, class: 'description-input' %>
      </div>


    </div>
  </div>
  <h3 class="survey-questions-header">Questions</h3>

    <%= f.fields_for :questions do |ff| %>
    <div class='test'>
        <%= ff.number_field :question_order, placeholder: 'Question Order', class: "question-order-box" %>
        <div class="question-container-right">
          <div class="question-type-label">
            Short Answer
            </div>
            <i class="fa fa-times fa-lg"></i>

        <%= ff.text_area :description, placeholder: 'Question Description', class: 'question-description-textarea' %>
        <%= ff.text_area :question_text, placeholder: 'Enter your question', class: 'question-textarea' %>
        Required Question<%= ff.check_box :required, class: 'required-checkbox' %>
      </div>
    </div>
    <% end %>
    <div class="test2"></div>
  <%= f.hidden_field :author_id %>


  <div class="actions">
    <%= f.submit "Save Question" %>
  </div>

<%= link_to 'Logout', logout_path, method: :delete %>
<%= link_to 'Back', surveys_path %>
</div>
<% end %>
